In [25]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv('C:\\Users\\Luiz Guilherme\\codenation\\coestatistica-1\\desafio1.csv') 
df = df[['estado_residencia','pontuacao_credito']]
df.head()

  estado_residencia  pontuacao_credito
0                SC                619
1                RS                608
2                SC                502
3                SC                699
4                RS                850

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 2 columns):
estado_residencia    7000 non-null object
pontuacao_credito    7000 non-null int64
dtypes: int64(1), object(1)
memory usage: 109.5+ KB

In [26]:
df['pontuacao_credito'].describe()

count    7000.000000
mean      649.787000
std        97.046279
min       350.000000
25%       582.000000
50%       651.000000
75%       717.000000
max       850.000000
Name: pontuacao_credito, dtype: float64

In [81]:
submission = df.groupby('estado_residencia').agg({'pontuacao_credito': [pd.Series.mode,'median','mean','std']})
submission.columns = ['moda', 'mediana', 'media','desvio_padrao']
submission = submission.sort_index(ascending=False)
submission = submission.T
submission

estado_residencia          SC          RS          PR
moda               850.000000  850.000000  850.000000
mediana            653.000000  650.000000  650.000000
media              649.537653  651.105143  648.961294
desvio_padrao       97.233493   95.136598   98.607186

In [82]:
submission.to_json('C:\\Users\\Luiz Guilherme\\codenation\\coestatistica-1\\submission.json')